# Secret stuff
.env
credentials/client_secret.json

# Python prod Virtual Environment
venv/
lib/
lib64/
bin/
logs/

# Python Bytecode and Cache Files
__pycache__/
*.pyc
*.pyo
.idea/

# Deployment Scripts (if applicable)
deploy.sh
run.bat

# Other
customers.db
customers.db.backup
db-backup-*

# Ignore everything in instance (runtime data)
instance/
