# secret stuff
.env
credentials/client_secret.json

# Python prod Virtual Environment
venv/
lib/
lib64/
bin/

# Python Bytecode and Cache Files
__pycache__/
*.pyc
*.pyo

# Deployment Scripts (if applicable)
deploy.sh
run.bat

# db
customers.db
