{% extends "layout.html" %}

{% block title %}Admin Page{% endblock %}

{% block content %}
<form method="post" id="customerForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h2>Edit Customer</h2>
    <label for="dd_name">DD Name:</label>
    <input type="text" id="dd_name" name="dd_name" value="{{ customer[1] }}">

    <label for="cbr_name">Cbr Name:</label>
    <input type="text" id="cbr_name" name="cbr_name" value="{{ customer[2] }}">

    <button type="submit">Save Changes</button>
</form>

<script>
document.getElementById('customerForm').addEventListener('submit', function(event) {
    const ddName = document.getElementById('dd_name').value.trim();
    const cbrName = document.getElementById('cbr_name').value.trim();

    if (!ddName && !cbrName) {
        event.preventDefault(); // Prevent form submission
        const errorMessage = document.getElementById('error-message');
        errorMessage.style.display = 'block'; // Show error message
    }
});
</script>
{% endblock %}
